<div class="alert alert-block alert-success">
  <h4><i class="icon-ok"></i> Éxito!</h4>
  <p>La transacción de realizó con éxito.</p>
</div>

<pre>Last confirmation data: <%= last_confirmation.inspect %></pre>