<div class="alert alert-block alert-success">
  <h4><i class="icon-ok"></i> Success!</h4>
  <p>The transaction concluded successfully.</p>
</div>

<pre>Last confirmation data: <%= last_confirmation.inspect %></pre>